*{
    padding: 0;
    margin: 0;
}
body{
    background:linear-gradient(#222,#555);
}
.colum{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text{
    background-color: #222;
    width: 80%;
    height: 40%;
    color: wheat;
    box-shadow: 0 0 15px #0000FF;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
    overflow:auto;
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 85vh;
    flex-direction: column;
    background:linear-gradient(#222 ,#555);
    box-shadow: 0 0 15px white;
    /* background-color: #777; */
    border-radius: 25px;
}
.option{
    align-self: center;
    width: 80%;
}
.option ul label{
    cursor: pointer;
    height: 5vh;
    width: 95%;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
    border-radius: 25px;
    background-color: #666;
    list-style: none;
    font-size: 24px;
    position: relative;
    overflow:hidden;
}
.radio{
    position: absolute;
    left: 5%;
    top: 35%;
    background-color: #000754;
}
button{
    width: 40%;
    padding: 5px 10px;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #000754;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor:pointer;
}
@media screen and (max-width: 600px) {
    .row {
        position: absolute;
        top: 15px;
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 0 15px white;
    }
  }
